<div class="container">
  <mat-card *ngIf="assignementTransmis">
    <mat-card-title>{{assignementTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignementTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <mat-checkbox *ngIf="!assignementTransmis.rendu" (click)="onAssignementRendu()">
      Assignment rendu
    </mat-checkbox>

        <button mat-flat-button color="primary"
                [disabled]="!loggedIn()"
                (click)="onClickEdit()">
          EDIT
        </button>

    <button mat-flat-button color="warn" (click)="onDelete()">
      DELETE
    </button>
  </mat-card>
</div>
