<div class="bg-white p-5">
<div class="row">
    <div class="col-12 d-flex">
        <h6 class="font-weight-light">
            <mat-icon aria-hidden="false">account_box</mat-icon>Authentification
        </h6>
    </div>
</div>
<mat-divider class="mt-1 mb-5 bg-dark"></mat-divider>

<form [formGroup]="loginForm">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Minimum 6 caractères" formControlName="password" required>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
    
    <div>
        <button class="button-seconnecter" mat-stroked-button (click)="onSubmitLoginForm()" color="primary">
            Se connecter
        </button>
        <button class="button-sinscrire" routerLink="/register" mat-stroked-button >
            S'inscrire
        </button>
    </div>
    

</form>
</div>