.mat-form-field {
    display:flex;
    flex-direction: column;
    margin:5px;
  }

  /* .button-seconnecter {
    margin-left: .8rem;
    
  } */

  .button-sinscrire {
    margin-left: .8rem;
    
  }