<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form enctype="multipart/form-data" [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm">
      <ng-template matStepLabel>Nom du Devoir </ng-template>

      <mat-form-field>
				<input matInput placeholder="Titre"  formControlName="titre" required>
				<mat-error>This field is required</mat-error>
			</mat-form-field>

      <mat-form-field>
				<input matInput placeholder="Auteur" formControlName="auteur" required>
				<mat-error>This field is required</mat-error>
			</mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Date de rendu"
          formControlName="dateDeRendu"

        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button type="submit" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="form2()" #formtwo="ngForm">
      <ng-template matStepLabel>Compléments du devoir</ng-template>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="matiere" formControlName="matiere" />
          <label class="custom-file-label" for="inputGroupFile01">Image de la matière</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" (change)="fileChange($event)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="avatar" formControlName="avatar" accept="image/x-png,image/gif,image/jpeg" />
          <label class="custom-file-label" for="inputGroupFile01">Image du prof correspondant</label>
        </div>
      </div>

      <mat-form-field>
				<mat-label>Note</mat-label>
				<input matInput formControlName="note">
				<mat-error>The input is invalid.</mat-error>
			</mat-form-field>

      <mat-form-field>
				<mat-label>Remarque</mat-label>
				<input matInput formControlName="remarque">
				<mat-error>The input is invalid.</mat-error>
			</mat-form-field>

      <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" id="customSwitch1" formControlName="rendu">
        <label class="custom-control-label" for="customSwitch1" >
          <span class="text-success" *ngIf="">Vendu</span>
          <span class="text-danger" *ngIf="">A vendre</span>
        </label>
      </div>
      <div>
        <button type="button" mat-button matStepperPrevious>Back</button>
        <button type="submit" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ajout du devoir</ng-template>
    Vous pouvez soumettre votre travail.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button type="button" (click)="stepper.reset()">Reset</button>
      <button mat-button type="button" (click)="onSubmitAssignmentForm()">
        submit
        </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
